.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-element{
	margin: 4%;
}
.list-table-section th, .list-table-section td{
	text-align: center !important;
}
.list-table-section .table-responsive
{
	max-height: 300px;
}
.error {
	color: red;
}
a{
	cursor: pointer;
}
a.active .well{
	box-shadow: 10px 10px 5px grey;
}
.well h4{
	color: #ffff;
}